.topbar__container{
    background: #eb4d4b;
    color: #fff;
    padding: 7px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    span{
        display: flex;
        align-items: center;
        gap: 5px;

        i{
            font-size: 18px;
        }
    }
}